spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce_db?useSSL=false
    username: root
    password: Skizo12345@@##
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8084